src/snippets/schemas/group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Group">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="groupName"/>
                <xs:element ref="deptCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="groupName" type="xs:NCName"/>
    <xs:element name="deptCode" type="xs:integer"/>
</xs:schema>